<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>twit-ten</title>
        <style>
            @import 'https://fonts.googleapis.com/css?family=Roboto:100,400';

            html,body {
                font-family: roboto, verdana, sans-serif;
                margin: 0px !important;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                height: 100%;
                width: 100%;
            }
            #twit-ten {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="twit-ten"></div>
        <script src="twit-ten.js"></script>
    </body>
</html>
